<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<% include ../partials/edit-sidebar %>
		<div class = "movie-list">
			<ul>
					<div class = movie_item>
						<ul id = "movie">
							<li id = "title"><%=rating.movie %></li>
							<div class = "details">
								<li>Rate: <%=rating.rate %></li>
								<li>Genre: <%=rating.genre %></li>
								<li>Description: <%=rating.description %></li>
								<li>Created at: <%=rating.created_at %></li>
								<li>Updated at: <%=rating.updated_at %></li>
							</div>
						</ul>
						<br />
					</div>
			</ul>
		</div>
	</body>
</html>
